@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'AT Pinko';
  src: 
       url("../public/font/AT-Pinko/ATPinko-Regular.ttf");
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body{
  /* font-family: 'AT Pinko'; */

}
html body{
 
  margin: 0 auto;
}

.myfont{
  font-family: 'AT Pinko';
}
/* ---------------- IPHONE SECTION ------------------- */

@media(max-width: 767px){

  .Authentication{
      width: 80%;
      margin: auto;
  }
  .show-filter-bar{
    display: none;
  
  }
  .women{
    margin-top: 2rem;
  }
  .intro p{
    margin: 2rem auto;
  }
  .imgBtom img{
    width: 100%;
    height: 14rem;
  }
  .reviewImg{
    width: 100%;
    height: 380px;
  }
  .btmFooter{
     text-align: "center";
  }
  .master{
    width: 15rem;
    margin: auto;
    padding: 18px 0;
  
  }
  .type{
    display: none;
     
  }
  .type img {
    width: 88%;
    margin: auto;
}
  .searchBar{
    margin: 15px 0;
  }
  .getApp div div{
    justify-content: center;
}

.getApp p {
  text-align: center;
}
  .filtring{
    width: 100%;
    margin-bottom:1rem;
  }
  .follow{
    margin: 15px 0px 13px 0px;
  }
  .profil .bio{
    padding: 1rem;
  }
  .profil .bio .img img{
    width: 80%;
    margin: auto;
  }
  .profil .bio .name{
    margin: auto;
  }
 .getApp .imgDirc img{
  width: 51%;
  margin: auto;
}
  .getApp h2{
    text-align: center;
    font-size: 30px;
    
}
  .products {
    grid-template-columns: 50% 50%;
    gap: 5px;
    width: 100%;
  }
  .Brands img {
    width: 100%;
}
  
  .Brands .markes {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
}
  
  .Authentication .loginPart{
    display: block;
  }
  .leftSideLogin{
    background-color: rgb(255, 255, 255);
    height: 537px;
    width: 100%;
   
  }
   
.authO{
    width: 100%;
    height: 636px;
    margin: auto;
  }

  .rightSideLogin  img{
      width: 90%;
      margin: 2rem auto;
  }
  .intro h3{
    font-size: 41px;
    width: 100%;
    line-height: 52px;

  }
  .type img{
    width: 135px;
    height: 135px;
  }

  .btmTxt{
    text-align: center;
  }
  .leftSideLogin h3, p {
    text-align: center;
  }
  .reviews div div{
      margin-bottom: 0.5rem;
  }

  .stars{
    margin: 15px auto;
  }
  .footer{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
  }
  .copy{
    text-align: center;
  }
  .formSubmit{
    width: 100%;
  }
}



/* ---------------- IPAD SECTION ------------------- */


.leftSideLogin .dntHaveAccnt{
   
  Height: 24px;
}



@media(min-width: 768px){


  .formSubmit{
    width: 93%;
  }
  .productImage ,.comment{
    width: 93%;
  }
  .reviewImg{
    width: 200px;
    height: 200px;
   }
  
  .reviews{
    width: 70%;
  }
  .profil .bio .img{
    margin: auto;
  }
  .filtring{
    width: 98%;
  }
  .profil .bio{
    padding: 1rem;
  }
  .profil .bio .img img{
    width: 8rem;

  }

  
  .type img{
    width: 135px;
    height: 95px;
  
  }
  .intro p {
    width: 100%;
    margin: 16px auto;
    font-size: 18px;
    line-height: 28px;
}
  .clothes .imgBtom img:nth-child(1){
    width: 39%;
  }
  .clothes .imgBtom img:nth-child(2){
    width: 60%;
  } 
  
  .getApp h2{
    font-size: 64px;
}
.intro h3 {
  width: 300px;
  font-size: 34px;
  line-height: 47px;
}
  .loginPart{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .leftSideLogin{
    width: 359px;
    /* height: 762px; */
  }
  .authO {
    width: 90%;
}
  .Brands img{
    max-width: 6rem;

  }
    
} 

/* ---------------- LARGE SECTION ------------------- */



@media(min-width: 991px){

  .type img{
    height: 135px;
  }
  .intro h3 {
        width: 471px;
        font-size: 51px;
        line-height: 65px;
    }
  
  .leftSideLogin{
    width: 359px;
    }
    .authO{
      width: 90%;
      }
    .rightSideLogin{
      width: 26rem;
    }
    .Brands img{
      width: 130px;
  
    }
}


/* ---------------- XXLLARGE SCREEN SECTION ------------------- */



@media(min-width: 1200px){
  .filtring {
    width: 81%;
}
  .intro h3{
    width: 532px;
    height: 360px;
    font-size: 64px;
    line-height: 72px;
 
}
  .leftSideLogin{
    background-color: rgb(255, 255, 255);
 
  
  }
 
 

.authO .googleBtn, .facebookBtn, .appleBtn, .LoginIcon{
width: 100%;

}
}

.loginPart{
      margin: auto;
}
.leftSideLogin{
  background-color: rgb(255, 255, 255);
  

}
.leftSideLogin{
      background-color: rgb(255, 255, 255);
    
}
.brand h3{
  font-weight: 700;
  Width: 87px;
  Height: 52px;
  font-size: 40px;
  font-family: 'AT Pinko', sans-serif;
  line-height: 40px;
  
}
.leftSideLogin h3{
      font-weight: 700;
      Width: 351px;
      Height: 40px;
      font-size: 24px;
      font-family: 'AT Pinko', sans-serif;
      line-height: 40px;
      
}

.authO{
  font-weight: 400;
  background-color: rgb(255, 255, 255);
}
.authO .googleBtn, .facebookBtn, .appleBtn, .LoginIcon{
  border-radius: 33px;
  padding: 16px;
  gap: 10px;
  color: white;
  margin: 5px 0;
  font-weight: 200;
  height: 40px;
  width: 100%;
}

.formLogin Input{
  width: 429px;
  Height: 60px;
}
hr{
  width: 200px;
}
.authO button:nth-child(1){
  background-color: white;
  color: black;
  border: 1px solid rgb(209, 209, 209);
}
.authO button:nth-child(2){
  background-color: hsl(214, 89%, 52%);
}
.authO button:nth-child(3){
  background-color: black;
}
 

.btmTxt{
  font-size: 14px;
}

 
.selling .direction Image{
   position: absolute;
    top: 5rem;
    left: 36rem;
    
}
 
.intro h3{
    font-weight: 700;
    font-family: "AT Pinko";
}


.Brands h3{
  font-size: 40px;
  font-weight: 700;
  font-family: "AT Pinko";
  line-height: 52px;
  margin: 40px 0;
}






.filterBar button{
    border: 1px solid;
}

.products div img{
  width: 100%;
}
.products div .price{
   height: 60px;
   padding: 10px 0;
}
.discount{
    background-color: #a6a7a2ad;
    color: white;
    font-family: bolder;
    top: 3%;
    left: 6%;
    padding: 3px;
    border-radius: 4px;
    width: 49.64px;
    text-align: center;
}

.footer div:nth-child(1) h2{
  font-size: 40px;
  font-weight: 700;
  font-family: "AT Pinko";
}
 

.footer div h3{
  font-size: 20px;
  font-weight: 700;
  font-family: "AT Pinko";
}
.infoContact ul li{
    color: black;
    font-size: 14px;
    line-height: 35px;
}
.footer .itms ul li{
  font-size: 18px;
  font-weight: 400;
  font-family: "AT Pinko";
  margin: 10px 0;
  color: #0f0f0f7d;
  line-height: 28px;
}
 
.footer{
  margin-top: 3rem;
}


.getApp{
  background-color: #171919;
  color: white;
  max-width: 1344px;
  height: 433px;
  border-radius: 32px;
}
.getApp h2{
    font-family: "AT Pinko";
    line-height: 72px;
    font-weight: bolder;
}
.getApp p{
  line-height: 28px;
  font-size: 18px;
  font-weight: bolder;
  font-weight: 400;
  max-width: 359px;
  height: 56px;

}
 
.imgDirc img{
  border-radius: 30px;
}

 
.scndImg {
  left: 51rem;
  top: 131px;

}
.type img{

  border-radius: 22px;
}

select{
  border:none;
  padding: 10px 20px;
  border-radius:5px;
}

select:focus{
  outline:none;
}
.contentCategorie{
  width: 100%;
}

.singleProduct .description h2{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    
    font-family: "AT Pinko";
}
.adding button{
  width: 100%;
}
.safe div{
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    width: 327px;
 }

 .bio{
    border: 1px solid rgb(227, 227, 227);
    border-radius: 20px;
 }

 path{
  fill: black;
 }

 
 .embty{
  width: 80%;
  margin: auto;
  text-align: center;

 }
 .embty img{
  width: 30%;
  margin: 10px auto;
 }

 .bag, .embty h2{
  font-weight: 700;
  font-family: "AT Pinko";
 }

 .buying button:nth-child(1){
      background-color: #635bff;
 }

 .textDecor{
 
  font-weight: 700;
  font-family: "AT Pinko";
 }


  
.upload img, .add, .blabla{
  text-align: center;
  margin: 1rem auto;
   
}





.navbar {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 1rem;
}



.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-left: 10px;
}

.nav-item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
}

 

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon .bar {
  height: 3px;
  width: 25px;
  color: black;
  background-color: rgb(0, 0, 0);
  margin: 4px 0;
  border-radius: 2px;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    z-index: 21;
    top: 68px;
    right: 0;
    background-color: rgb(255, 255, 255);
 
  }

  .nav-item {
    margin: 0;
  }

  .nav-item a {
    padding: 1rem;
  }

 

  .menu-toggle:checked + .menu-icon + .nav {
    display: flex;
  }
}


.displaySeach {
    position: absolute;
    top: 14px;
    width: 56%;
    left: 10%;
    z-index: 1111;
}


/* components/ImageSlider.module.css */
.sliderContainer {
  width: 80%;
  margin: auto;
  position: relative;
}

.slide {
  text-align: center;
}

.slide img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.slide p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.slick-prev:before, .slick-next:before {
  color: black;
}


.notfound{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}




.menswear{
  width: 100%;
  position: absolute;
  top: 18rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.womenSawar{
  width: 100%;
  position: absolute;
  top: 18rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line{
  height: 1px;
    color: #dedede;
    border: 1px solid;
    width: 100%;
}

.status div:hover{
  background-color: black;
  color: white;
}